<div class="quiz__container">
  <div class="quiz_logo">
    <img src="assets/images/logo.png" alt="logo">
    <h3>{{title}}</h3>

  </div>

  <div *ngIf="!finished" class="quiz_questions">
    <h3>{{selectedQuestion.question}}</h3>
  </div>

  <div *ngIf="!finished" class="quiz_options">
    <button
    *ngFor="let option of selectedQuestion.options; let i = index"
    (click)="playerChoice(option.alias)"
    class="btn-option"
    >
      {{option.name}}
    </button>
  </div>

  <div *ngIf="finished" class="quiz_results">
    <h1> Your result is: </h1>
    <p>{{selectedAnswer}}</p>
  </div>

</div>
